body {
  background-color: #000000;
}
h1 {
  color: #ffffff;
  font-size: 100px;
}
h2 {
  color: #ffffff;
  font-size: 40px;
}
h3 {
  color: #ffffff;
  font-size: 20px;
}
h6 {
  color: #ffffff;
  font-size: 0px;
}
p {
  color: #ffffff;
}
